#discover{
  height: 550px;
}
#discover .subtitle-big{
  position: absolute;
  bottom: 100px;
}

.svg-recife{
  position: absolute;
  stroke-width: 1px;
}

@media (min-width: 0px) {
  #discover .subtitle-big{
    font-size: 50px;
    right: 40px;
  }

  .svg-recife{
    height: 500px;
    top: -100px;   
    left: 0px;
    transform: 
      rotateZ(-15deg)
      rotateX(50deg) 
      translateX(-5%)
      translateY(25%)
      scale(1.25);

    animation: transformMobile 1s linear;   
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}

@media (min-width: 725px){
  .svg-recife{
    height: 800px;  
    top: -325px; 
    left: 150px;
    transform: 
      rotateZ(0)
      rotateX(50deg) 
      translateX(0)
      translateY(30%)
      scale(1.25);

    animation: transformDesktop 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  #discover .subtitle-big{
    font-size: 120px;
    right: 160px;
  }
}

@keyframes transformMobile {
  to {
    transform:
      rotateZ(0)
      rotateX(90deg) 
      translateX(5%)
      translateY(40%)
      scale(2);
  }
}
@keyframes transformDesktop {
  to {
    transform:
      rotateZ(10deg)
      rotateX(85deg) 
      translateX(10%)
      translateY(45%)
      scale(2);
  }
}
