p{
  line-height: 150%;
}

h1, h2, p{
  font-family: 'Roboto Condensed';
  font-weight: 300;
  margin: 0;
}

h1::selection, h2::selection, p::selection{
  background-color: var(--blue);
}

input, select, .text-normal-small{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  font-size: 20px;
}

input::selection, select::selection, .text-normal-small::selection{
  color: var(--black);
  background-color: var(--blue);
}

.title{
  z-index: 4;
  margin: 20px 0 40px 0;
  text-align: center;
  position: relative;
}
.title-big{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  line-height: 100%;
}
.subtitle-big{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.text-big{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
  word-break: break-all;
}
.text-thin{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
}
.text-thin-small{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 125%;
}
.text-bold-small{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
}
.text-normal{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (min-width: 0px) {
  h2, p{
    font-size: 25px;
  }

  h1{
    font-size: 35px;
    line-height: 125%;
  }

  .title-big:first-of-type{
    font-size: 100px;
  }
  .title-big:last-of-type{
    font-size: 50px;
    font-weight: 300;
  }
  .subtitle-big{
    font-size: 30px;
  }
  .text-normal, .text-thin{
    font-size: 25px;
  }
}

@media (min-width: 725px) {
  p {
    font-size: 35px;
  }

  .title-big:first-of-type,
  .title-big:last-of-type{
    font-size: 150px; 
    font-weight: 100;
    margin: 0 40px;
  }
  .subtitle-big{
    font-size: 50px;
    margin-top: 20px;
  }
  .text-normal, .text-thin{
    font-size: 35px;
  }
}