p{
  line-height: 150%;
}

h1, h2, p{
  font-family: 'Roboto Condensed';
  font-weight: 300;
  // color: var(--black);
  margin: 0;

  &::selection{
    background-color: var(--blue);
  }
}

.text-title{
  margin: 20px 0 40px 0;
}
.text-intro-title{
  z-index: -1;
  position: relative;
}
.text-project-body{
  line-height: normal;
}
.text-footer-body{
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s;

  &--show{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
}

.text-intro-title,
.text-menu-title,
.text-button-body{
  font-family: 'Roboto';
  font-weight: 100;
  color: var(--black); 
}
.text-intro-subtitle,
.text-menu-subtitle,
.text-info-subtitle,
.text-project-title,
.text-footer-body{
  font-family: 'Poppins';
  font-weight: 800;
  color: var(--black);
}

.text-white,
.text-menu-title,
.text-menu-subtitle,
.text-footer-body,
.text-enter-title,
.text-enter-subtitle{
  color: var(--white);
}


.text-title,
.text-intro-title, 
.text-intro-subtitle,
.text-enter-title,
.text-enter-subtitle{
  opacity: 0;
  transform: translateX(-20%);
  transition: all 1s;

  &--show{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
}

@media (min-width: 0px) {
  h2, 
  p,
  .text-intro-subtitle{
    font-size: 25px;
  }

  h1,
  .text-info-title,
  .text-project-title{
    font-size: 35px;
    line-height: 125%;
  }

  .text-intro-subtitle{
    margin-right: 60px;
    margin-bottom: 20px;
    line-height: 125%;
  }
  .text-info-subtitle{
    font-size: 40px;
    margin-top: 5px;
    word-break: break-all;
  }
  .text-project-subtitle{
    margin-top: 10px;
  }
  .text-project-body{
    margin-top: 20px;
  }
  .text-footer-body{
    font-size: 15px;
    margin-top: 20px;
  }

  .text-intro-title,
  .text-menu-title,
  .text-enter-title{
    font-size: 120px;
    line-height: 100%;
  }
  .text-intro-subtitle,
  .text-menu-subtitle,
  .text-enter-subtitle{
    margin-top: 10px;
  }
}

@media (min-width: 725px) {
  p, .text-info-title{
    font-size: 35px;
  }
 
  .text-intro-title:last-of-type{
    margin-bottom: 20px;
  }
  .text-intro-subtitle{
    display: inline;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .text-info-subtitle{
    font-size: 50px;
  }
  .text-footer-body{
    font-size: 25px;
  }

  .text-intro-title,
  .text-menu-title,
  .text-enter-title{
    font-size: 150px;
  }
  .text-intro-subtitle,
  .text-enter-subtitle{
    font-size: 50px;
  }
}