button, a{
  position: relative;
  display: inline-block;
  z-index: 4;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  vertical-align: text-bottom;
  transition: all 0.5s;
  
  h1, h2{
    display: inline;
  }

  .icon{
    width: 30px;
    vertical-align: bottom;
    display: inline;
    fill: var(--black);
    transition: fill 0.5s;
  }
  .block-dropdown{
    bottom: 80px;
    left: 80px;
    transition: all 0.5s .2s;
  }
}

.button-white{
  background-color: var(--white);
  color: var(--black);
}
.button-black{
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  transition: all 0.5s;

  .icon{
    fill: var(--white);
    transition: fill 0.5s;
  }
}
.button-index{
  z-index: 4;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 13.5px 15px;
  backdrop-filter: blur(6px);
  border: 2px solid var(--black);
  background-color: var(--transparent-white);
  transition: all 0.5s;

  .block-dropdown{
    background-color: var(--white);
    border: 2px solid var(--black);
  }
  .button-white{
    margin-right: 0px;
  }
  .svg-menu{
    margin: 0;
    width: 20px;
  }
  &--hover{
    background-color: var(--blue);
    color: var(--black);
    border-color: var(--black);
    transition: all 0.5s;
  }
}
.button-transparent{
  background-color: transparent;
  border-color: transparent;
}

.button-index,
.button-link,
.button-black,
.button-white,
.button-transparent{
  opacity: 0;
  transform: translateY(-10%);
  transition: all 0.5s;

  &--show{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s;
  }
}

.button-link,
.button-black,
.button-white,
.button-transparent{
  &:hover{
    background-color: var(--blue);
    color: var(--black);
    border-color: var(--black);
    transition: all 0.5s;
  }
}