button, a{
  position: relative;
  display: inline-block;
  z-index: 4;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 10px;
  color: var(--black);
  text-decoration: none;
  padding: 10px;
  vertical-align: text-bottom;
  transition: all 0.5s;
  
  h1, h2{
    display: inline;
  }

  .icon{
    width: 30px;
    vertical-align: bottom;
    display: inline;
    fill: var(--black);
    transition: fill 0.5s;
  }
  .block-dropdown{
    bottom: 80px;
    left: 80px;
    transition: all 0.5s .2s;
  }

  &:hover{
    background-color: var(--blue);
    color: var(--black);
    border-color: var(--black);
    transition: all 0.5s;
  }
}

.button-black{
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  transition: all 0.5s;

  .icon{
    fill: var(--white);
    transition: fill 0.5s;
  }
}
.button-index{
  z-index: 5;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 10px 10px;
  backdrop-filter: blur(6px);
  border: 2px solid var(--black);
  background-color: var(--transparent-white);
  transition: all 0.5s;

  .block-dropdown{
    background-color: var(--white);
    border: 2px solid var(--black);
  }
  .button-white{
    margin-right: 0px;
  }
  .icon{
    margin: 0;
    transform: rotate(-90deg);
  }
}

.button-index,
.button-link,
.button-black,
.button-white{
  opacity: 0;
  transform: translateY(-10%);
  transition: all 0.5s;

  &--show{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s;
  }
}