button, a, .block-button {
  position: relative;
  display: inline-block;
  z-index: 4;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  vertical-align: text-bottom;
  transition: all 0.5s;
}
button h1, 
button h2, 
a h1, 
a h2, 
.block-button h1, 
.block-button h2 {
  display: inline;
}
button .icon, 
a .icon, 
.block-button .icon {
  width: 30px;
  vertical-align: bottom;
  display: inline;
  fill: var(--black);
  transition: fill 0.5s;
}
button .block-dropdown, 
a .block-dropdown, 
.block-button .block-dropdown {
  bottom: 60px;
  left: 0px;
  transition: all 0.5s 0.2s;
}

.button-white, .block-button {
  background-color: var(--white);
  color: var(--black);
}

.button-black {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  transition: all 0.5s;
}
.button-black .icon {
  fill: var(--white);
  transition: fill 0.5s;
}

.button-transparent {
  background-color: transparent;
  border-color: transparent;
}

.button-index {
  z-index: 4;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 13.5px 15px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 2px solid var(--black);
  background-color: var(--transparent-white);
  transition: all 0.5s;
}
.button-index .block-dropdown {
  background-color: var(--white);
  border: 2px solid var(--black);
}
.button-index .button-white, 
.button-index .block-button {
  margin-right: 0px;
}
.button-index .svg-menu {
  margin: 0;
  width: 20px;
}
.button-index--hover {
  background-color: var(--blue);
  color: var(--black);
  border-color: var(--black);
  transition: all 0.5s;
}

.block-button {
  border-style: dashed;
  border-color: transparent;
}

.button-link:hover,
.button-black:hover,
.button-white:hover,
.button-transparent:hover,
.block-button:hover {
  background-color: var(--blue);
  color: var(--black);
  border-color: var(--black);
  transition: all 0.5s;
}