button, a, .block-button {
  position: relative;
  display: inline-block;
  z-index: 4;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  vertical-align: text-bottom;
  transition: all 0.5s;
}
button h1, button h2, a h1, a h2, 
.block-button h1, .block-button h2 {
  display: inline;
}

button .icon, a .icon, .block-button .icon {
  width: 30px;
  vertical-align: bottom;
  display: inline;
  fill: var(--black);
  transition: fill 0.5s;
}

button .block-dropdown, a .block-dropdown, 
.block-button .block-dropdown {
  bottom: 60px;
  left: 0px;
  transition: all 0.5s 0.2s;
}

.button-white, .block-button {
  background-color: var(--white);
  color: var(--black);
}

.button-black {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  transition: all 0.5s;
}
.button-black .icon {
  fill: var(--white);
  transition: fill 0.5s;
}

.button-transparent {
  background-color: transparent;
  border-color: transparent;
}

.button-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 20px;
  left: 20px;
  z-index: 4;
  border: none;
  background-color: transparent;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px 12px;
  border: 2px solid var(--black);
  background-color: var(--white);
}

.button-nav .block-button {
  margin-right: 0px;
}
.button-nav .icon {
  width: 25px;
  height: 21px;
  margin: 0;
  position: absolute;
  /* padding: 5px; */
}
.button-nav .block-dropdown {
  display: none;
  text-align: left;
  margin-bottom: 40px;
}
.button-nav .icon .middle {
  opacity: 1;
  transition: opacity 0.35s;
}
.button-nav .icon .top {
  transform: rotate(0deg) translateX(0px);
  transform-origin: top left;
  transition: transform 0.35s;
}
.button-nav .icon .bottom {
  transform: rotate(0deg)  translateX(0px);
  transform-origin: bottom left;
  transition: transform 0.35s;
}

.button-nav--hover .block-dropdown{
  display: flex;
  opacity: 0;
  transition: all 0.35s;
}
.button-nav--hover .block-dropdown--show {
  opacity: 1;
  transition: all 0.35s;
}
.button-nav--hover .icon .middle {
  opacity: 0;
  transition: opacity 0.35s;
}
.button-nav--hover .icon .top {
  transform: rotate(45deg) translateX(5px);
  transform-origin: top left;
  transition: transform 0.35s;
}
.button-nav--hover .icon .bottom {
  transform: rotate(-45deg)  translateX(5px);
  transform-origin: bottom left;
  transition: transform 0.35s;
}

.block-button {
  border-style: dashed;
  border-color: transparent;
}

.button-link:hover,
.button-black:hover,
.button-white:hover,
.button-transparent:hover,
.block-button:hover {
  background-color: var(--blue);
  color: var(--black);
  border-color: var(--black);
  transition: all 0.5s;
}
