#about p{
  margin-bottom: 40px;
}
#about .text-big{
  text-align: center;
}

.values {
  margin: 0 auto;
}
.values, .values-expand .wrapper{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--black);
  background-color: var(--white);
}

.values-expand{
  position: fixed;
  overflow: hidden;
  inset: 0;
  z-index: 5;
  display: block;
  background-color: transparent;
  transition: background-color 0.25s 0.25s;  
}
.values-expand .wrapper{
  position: absolute;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: 
    /* inset 0.25s 0.25s, */
    transform 0.25s 0.25s,
    width 0.25s 0.25s,
    height 0.25s 0.25s,
    padding 0.25s 0.25s,
    border-radius 0.25s 0.5s,
    border-color 0.25s 0.25s;
}
.values-expand .canvas-values{
  position: fixed;
  margin: auto;
  inset: 0;
  opacity: 0;
  transition: opacity 0.25s;
} 
.values-expand .wrapper-content{
  opacity: 0;
  z-index: 2;
  transition: opacity 0.25s;
}
.values-expand .title{
  text-align: start;
  margin-bottom: 0;
}
.values-expand .subtitle-big{
  margin-top: 0;
  z-index: 2;
  position: relative;
}
.values-expand .wrapper-button{
  margin-bottom: 20px; 
}
.values-expand .button-white:first-of-type{
  margin-right: 20px; 
}
.values-expand .button-white:first-of-type .icon{
  transform: rotate(0deg);
}
.values-expand video{
  position: fixed;
  opacity: 0;
  transition: opacity 0.25s;
}

.values-expand--none{
  display: none;
}

.values-expand--show{
  background-color: var(--white);
  transition: background-color 0.25s;    
}
.values-expand--show .wrapper{
  /* inset: 0 !important; */
  border-color: transparent;
  border-radius: 0;
  transform: translateX(0) translateY(0) !important;
  transition: 
    /* inset 0.25s 0.25s, */
    transform 0.25s 0.25s,
    width 0.25s 0.25s,
    height 0.25s 0.25s,
    padding 0.25s 0.25s,
    border-color 0.25s,
    border-radius 0.25s;
}
.values-expand--show .wrapper-content{
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}
.values-expand--show .canvas-values{
  opacity: 1;
  transition: opacity 0.25s 0.25s; 
}
.values-expand--show video{
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}

@media (min-width: 0) {
  #about .text-big{
    margin: 10px 0 40px 0;
  } 
  
  .values-expand--show .wrapper{
    padding: 20px 20px 80px 20px; 
    width: calc(100% - 40px - 4px);
    height: calc(100% - 100px - 4px);
  }
  .values-expand video{
    height: 90vh;
    bottom: -2vh;
    left: -25vh;
    right: -25vh;
    margin: 0 auto;
  }
}

@media (min-width: 725px){
  #about .text-big{
    margin: 20px 0 80px 0;
  }

  .values-expand--show .wrapper{
    padding: 40px 80px;
    width: calc(100% - 160px - 4px);
    height: calc(100% - 80px - 4px);
  }
  .values-expand video{
    height: 120vh;
    bottom: -2vh;
  }
}
