.wrapper-project{
  display: flex;
  flex-wrap: wrap;
}
.project{
  background-color: transparent;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}
.project .button-white{
  height: 65px;
  width: 200px;
  margin-top: 20px;
  padding: 10px 40px;
  border: 2px dashed var(--black);
}
.project .text-bold-small{
  height: 40px;
  width: 100px;
  display: inline-block;
}
.project .text-thin-small{
  min-height: 65px;
}
.project .icon{
  overflow: auto;
  stroke: var(--black);
  stroke-width: 15px;
  margin-bottom: 10px;
  width: 145px;
}

.project-expanded{
  position: fixed;
  inset: 0;
  margin: 0 auto;
  z-index: 5; 
  background-color: transparent;
  transition: background-color 0.5s;
}
.project-expanded .icon{
  overflow: auto;
  display: table;
  z-index: -1;
  stroke: var(--black);
  stroke-width: 15px;
  margin-bottom: 14px;
  width: 145px;
  transition: margin 0.5s ease-in-out;
}
.project-expanded .button-white{
  width: 200px;
  height: 65px;
  padding: 10px 40px;
  margin-top: 20px;
  border: 2px dashed var(--black);
}
.project-expanded .button-white :first-child{
  opacity: 0.5;
  width: 0;
  height: 0;
  transition: opacity 0.25s;
}
.project-expanded .button-white :last-child{
  opacity: 1;
  width: 100px;
  height: 40px;
  transition: opacity 0.25s 0.25s;
}
.project-expanded .text-normal{
  display: block;
  opacity: 0;
  height: 0;
  transition: 
    opacity 0.5s, 
    height 0.5s;
}
.project-expanded .text-thin-small{
  min-height: 65px;
}
.project-expanded .text-bold-small{
  display: inline-block;
  height: 40px;
  white-space: nowrap; 
  overflow: hidden;
}
.project-expanded .wrapper{
  position: absolute;
  display: block;
  background-color: var(--white);
  margin: 0;
  width: 250px;
  transition: 
    min-height 0.5s ease-in-out, 
    width 0.5s ease-in-out, 
    inset 0.5s ease-in-out, 
    padding 0.5s ease-in-out;
}

.project-expanded--none{
  display: none;
}

.project-expanded--show{
  overflow: auto;
  background-color: var(--white);
  opacity: 1;
  transition: opacity 0.5s, background-color 0.2s;
}
.project-expanded--show .icon{
  margin: 40px 0;
  transition: margin 0.5s ease-in-out;
}
.project-expanded--show .text-normal{
  height: 150px;
  opacity: 1;
  transition: 
    opacity 0.5s 0.25s, 
    height 0.5s;
}
.project-expanded--show .button-white :first-child{
  opacity: 1;
  width: 100px;
  height: 40px;
  transition: 
    opacity 0.25s 0.25s; 
}
.project-expanded--show .button-white :last-child{
  opacity: 0.5;
  width: 0;
  height: 0;
  transition: 
    opacity 0.25s; 
}
.project-expanded--show .wrapper{
  inset: 0 !important;
  transition: 
    min-height 0.5s, 
    width 0.5s ease-in-out, 
    inset 0.5s ease-in-out, 
    padding 0.5s ease-in-out;
}

@media (min-width: 0px) {
  #projects {
    padding: 20px 0 40px 0;
    overflow: unset;
  }
  #projects .title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project, .project-expanded .wrapper{
    min-height: 300px;
    padding: 40px 20px;
  }
  .project-expanded--show .wrapper{
    min-height: calc(100% - 120px);
    padding: 20px 20px 100px 20px;
    width: calc(100% - 40px) !important;
  }
}

@media (min-width: 725px){
  #projects {
    padding: 40px 80px;
  }
  #projects .title {
    padding-left: 0px;
    padding-right: 0px;
  }

  .project, .project-expanded .wrapper{
    min-height: 300px;
    padding: 40px;
  }
  .project-expanded--show .wrapper{
    min-height: calc(100% - 220px);
    padding: 80px 20% 140px 20%;
    width: calc(100% - 40%) !important;
  }
  .project-expanded--show .button-white{
    margin: 0;
  }
}