nav{
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .block-wrapper{
    margin-left: auto;
  }
}
footer{
  background-color: var(--black);
  text-align: center;
  padding: 40px;
  margin-top: 100px;

  .button-link{
    margin: 0 10px;
  }
  .text-thin-small{
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.5s;

    &--show{
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}

#intro .text-big-title{
  text-align: center;
}
#about{
  p{
    margin-bottom: 40px;
  }

  .image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: var(--white);
  }
  .text-big{
    text-align: center;
  }
  .wrapper{
    margin: 0 auto;
  }
}
#discover{
  height: 550px;

  .svg-recife{
    position: absolute;
    stroke: var(--white);
    opacity: 0;
    transition: opacity 1s;

    &--show{
      opacity: 0.6;
      transition: opacity 1s;
    }
  }
  .text-title{
    color: var(--white);
  }
  .text-big-subtitle{
    position: absolute;
    bottom: 100px;
  }
}
#world{
  text-align: center;

  .button-black{
    opacity: 0;
    margin-top: 40px;
    margin-left: 0;
    transition: opacity 1s;
    
    &--show{
      opacity: 1;
      transform: rotate(0deg) scale(1);
      transition: all 1s;
      
      &:hover{
        transform: rotate(-10deg) scale(1.5);
        transition: all 1s;
      }
    }
    &:hover .icon{
      fill: var(--black);
      transition: fill 0.5s;
    }
  } 
}

.block-project{
  background-color: transparent;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s;

  .button-white{
    margin-top: 20px;
    padding: 10px 40px;
    border: 2px dashed var(--black);
  }
  .icon{
    overflow: auto;
    z-index: -1;
    stroke: var(--black);
    stroke-width: 15px;
    margin-bottom: 10px;
    width: 145px;
  }
  &--show{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }
}
.block-project-expanded{
  display: none;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: flex-start;
  margin: 0 auto;
  z-index: 5;
  
  .icon{
    overflow: auto;
    display: table;
    z-index: -1;
    stroke: var(--black);
    stroke-width: 15px;
    margin-bottom: 10px;
    width: 145px;
  }
  .text-normal{
    display: none;
  }
  .button-white{
    margin-top: 20px;
    padding: 10px 40px;
    border: 2px dashed var(--black);
    overflow: hidden;

    .text-bold-small{
      display: inline-block;
      height: 40px;
      white-space: nowrap; 
      overflow: hidden;
    }
  }
  .block-wrapper{
    position: absolute;
    display: block;
    background-color: var(--white);
  }
  &--enter{
    display: block;
    background-color: transparent;

    .text-normal{
      display: block;
      max-height: 0px;
      opacity: 0;
    }
    .button-white{
      :first-child{
        opacity: 0;
        width: 0;
      }
      :last-child{
        opacity: 1;
        width: 87px;
      }
    }
    .block-wrapper{
      margin: 0;
    } 
  }
  &--show{
    overflow: auto;
    background-color: var(--white);

    .icon{
      display: table;
      margin: 40px 0;
    }
    .text-normal{
      margin: 20px 0 40px 0;
      max-height: 500px;
      opacity: 1;
    }
    .button-white{
      margin-bottom: 0px;
      
      :first-child{
        opacity: 1;
        width: 59px;
      }
      :last-child{
        opacity: 0;
        width: 0;
      }
      .icon{
        transform: rotate(0deg);
        margin-left: 0;
        stroke: none;
      }
    } 
    .block-wrapper{
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: auto !important;
      height: 100vh !important;
    }
  }
}
.block-about{
  h1, p, .image{
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s;
  }

  h1{
    transition-delay: 400ms; 
  }
  p{
    transition-delay: 500ms;
  }

  .image{
    transition-delay: 300ms;

  }

  &--show{
    h1, p, .image{
      opacity: 1;
      transform: translateY(0%);
      transition: all 0.5s;
    }

    h1{
      transition-delay: 400ms; 
    }
    p{
      transition-delay: 500ms;
    }
  
    .image{
      transition-delay: 300ms;
    }
  }
}
.image-expand{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;

  .block-wrapper{
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: var(--white);
    position: absolute;
    overflow: visible;
    padding: 0;
    display: flex;
    flex-direction: column;

    .canvas-values{
      position: absolute;
      margin: auto;
      inset: 0 0 0 0;
    } 
    .text-title{
      text-align: start;
      margin-bottom: 0;
    }
    .text-big-subtitle{
      margin-top: 0;
      z-index: 2;
    }
    .block-wrapper-button{
      margin-bottom: 20px;
      
      .button-white{
        &:first-of-type{
          margin-right: 20px;
          
          .icon{
            transform: rotate(0deg);
          }
        } 
      }
    }
  }
  &--enter{
    display: block;
    background-color: transparent;
    transition: background-color 0.4s 0.2s;
    
    .block-wrapper{
      height: 200px;
      width: 200px;
      border-radius: 50%;
  
      transition: 
        width 0.4s 0.2s, 
        height 0.4s 0.2s, 
        left 0.4s 0.2s, 
        top 0.4s 0.2s,
        bottom 0.4s 0.2s,
        margin 0.4s 0.2s,
        padding 0.4s 0.2s,
        border-radius 0.4s 0.6s
      ;
  
      .canvas-values, 
      .block-wrapper-content{
        opacity: 0;

        transition: opacity 0.2s;
      }
    }
  }
  &--show{
    background-color: var(--white);
    transition: background-color 0.4s 0.4s;
    
    .block-wrapper{
      bottom: 0;
      top: 0 !important;
      left: 0 !important;
      border-radius: 0;
      
      transition: 
        width 0.4s 0.4s, 
        height 0.4s 0.4s, 
        padding 0.4s 0.4s,
        left 0.4s 0.4s, 
        top 0.4s 0.4s,
        bottom 0.4s 0.4s,
        margin 0.4s 0.4s,
        border-radius 0.4s,
      ;

      .block-wrapper-content{
        opacity: 1;

        transition: opacity 0.4s 0.8s;
      }
      .canvas-values{
        opacity: 1;

        transition: opacity 0.4s 1s; 
      }
    }
  }
}

.block-dropdown{
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;  
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
  opacity: 0;
  max-height: 0px;
  transform: translateX(-50%) translateY(-10%);
  transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);

  a{
    border: 1px dashed transparent;
    margin: 0;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95); 
    
    &:hover{
      border-color: var(--black);  
    }
  }
  &--none{
    display: none;

    a{
      display: none;
    }
  }
  &--show {
    opacity: 1;
    max-height: 300px;
    transform: translateX(-50%) translateY(0);
    transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);

    a{
      opacity: 1;
      transform: translateY(0);
      transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
  }
}
.block-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.block-black{
  background-color: var(--black);

  p, h1, h2{
    color: var(--white);

    &::selection{
      color: var(--black);
    }
  }
  a{
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
    transition: all 0.5s;

    .icon{
      fill: var(--white);
      transition: fill 0.5s;
    }
    &:hover{
      background-color: var(--black);
      border-color: var(--blue);
      transition: all 0.5s;
      
      h2{
        color: var(--blue);
        transition: color 0.5s;        
      }
    }
  }

  .button-black:hover{
    background-color: var(--black);
    color: var(--blue);
    border-color: var(--blue);
    transition: all 0.5s;

    .icon{
      fill: var(--blue);
      transition: fill 0.5s;
    }
  } 
}
.block-white{
  .button-black:hover{
    background-color: var(--blue);
    color: var(--black);
    border-color: var(--black);
    transition: all 0.5s;

    .icon{
      fill: var(--black);
      transition: fill 0.5s;
    }
  } 
}
.block-blue{
  background-color: var(--transparent-blue);  
}

@media (min-width: 0px) {
  section{
    padding: 20px 20px 40px 20px;
    overflow: hidden;
    position: relative;
  }

  #intro{
    padding: 80px 20px 40px 20px;
  }
  #about .text-big{
    margin: 10px 0 40px 0;
  }
  #discover{
    .svg-recife{
      height: 1000px;
      top: -100px;   
      left: -455px;
      transform: rotateZ(-10deg) rotateX(60deg) scale(1.25);
      stroke-width: 3px;
    }
    .text-big-subtitle{
      font-size: 50px;
      right: 40px;
    }
  } 
  #projects{
    padding: 20px 0 40px 0;
    overflow: unset;
    
    .text-title{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .block-project{
    padding: 40px 20px;
  }

  .block-project-expanded--enter{
    transition: background-color 0.6s 0.1s;

    .icon{
      transition: margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
    .text-normal{
      transition: 
        margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        opacity 0.6s, 
        max-height 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
    .button-white{
      transition: margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    
      :first-child{
        transition: opacity 0.6s, width 0.6s;
      }
      :last-child{
        transition: width 0.6s;
      }
    }
    .block-wrapper{
      padding: 40px 20px;
      transition: 
        padding 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        width 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        height 0.5s 0.1s cubic-bezier(0.6, 0.01, 0.55, 0.95),
        top 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        left 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        bottom 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        right 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
  }
  .block-project-expanded--show{
    transition: background-color 0.1s;

    .icon{
      transition: margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
    .text-normal{
      transition: 
        margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        opacity 0.6s 0.1s, 
        max-height 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
    .button-white{
      transition: margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      
      :first-child{
        transition: opacity 0.6s 0.1s, width 0.6s 0.1s;
      }
      :last-child{
        transition: opacity 0.6s 0.1s, width 0.6s 0.1s;
      }
    } 
    .block-wrapper{
      padding: 20px;
      width: calc(100% - 40px) !important;
      transition: 
        padding 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        width 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        height 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        top 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        left 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        bottom 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        right 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
  }

  .image-expand--show .block-wrapper{
    padding: 20px 20px 80px 20px; 
    width: calc(100% - 40px - 4px);
    height: calc(100% - 100px - 4px);
  }
}

@media (min-width: 725px) {
  section{
    padding: 40px 80px;
  }
  
  #intro{
    padding: 80px 0px;
  } 
  #about .text-big{
    margin: 20px 0 80px 0;
  }
  #discover{
    .svg-recife{
      height: 1500px;  
      top: -500px; 
      left: -30vw;
      stroke-width: 4px;
    }
    .text-big-subtitle{
      font-size: 120px;
      right: 160px;
    }
  } 
  #projects{
    padding: 40px 80px;
    
    .text-title{
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .block-intro{
    margin: 0 auto;
    width: min-content;
  }
  .block-project{
    padding: 40px;
  }
  
  .block-project-expanded--enter{
    transition: background-color 0.8s;

    .icon{
      transition: margin 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
    .text-normal{
      transition: 
        margin 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        opacity 0.5s, 
        max-height 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
    .button-white{
      transition: margin 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    
      :first-child{
        transition: opacity 0.5s, width 0.5s;
      }
      :last-child{
        transition: opacity 0.5s, width 0.5s;
      }
    }
    .block-wrapper{
      padding: 40px;
      transition: 
        padding 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        width 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        height 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        top 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        left 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        bottom 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        right 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        margin 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
  }
  .block-project-expanded--show{
    transition: background-color 0.2s;

    .icon{
      transition: margin 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
    .text-normal{
      transition: 
        margin 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        opacity 0.5s 0.2s, 
        max-height 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
    .button-white{
      transition: margin 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      
      :first-child{
        transition: opacity 0.5s 0.2s, width 0.5s 0.2s;
      }
      :last-child{
        transition: opacity 0.5s 0.2s, width 0.5s 0.2s;
      }
    } 
    .block-wrapper{
      padding: 80px 20%;
      width: calc(100% - 40%) !important;
      transition: 
        padding 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        width 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        height 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        top 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        left 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        bottom 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        right 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        margin 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95)
      ;
    }
  }

  .image-expand--show .block-wrapper{
    padding: 40px 80px;
    width: calc(100% - 160px - 4px);
    height: calc(100% - 80px - 4px);
  }
}