.block-project {
  background-color: transparent;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s;
}
.block-project .button-white {
  margin-top: 20px;
  padding: 10px 40px;
  border: 2px dashed var(--black);
}
.block-project .icon {
  overflow: auto;
  z-index: -1;
  stroke: var(--black);
  stroke-width: 15px;
  margin-bottom: 10px;
  width: 145px;
}

.block-project-expanded {
  display: none;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: flex-start;
  margin: 0 auto;
  z-index: 5;
}
.block-project-expanded .text-normal {
  display: none;
}
.block-project-expanded .icon {
  overflow: auto;
  display: table;
  z-index: -1;
  stroke: var(--black);
  stroke-width: 15px;
  margin-bottom: 10px;
  width: 145px;
}
.block-project-expanded .button-white {
  margin-top: 20px;
  padding: 10px 40px;
  border: 2px dashed var(--black);
  overflow: hidden;
}
.block-project-expanded .button-white .text-bold-small {
  display: inline-block;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
}
.block-project-expanded .block-wrapper {
  position: absolute;
  display: block;
  background-color: var(--white);
}

.block-about .block-values {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--black);
  background-color: var(--white);
}

.block-dropdown {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
}
.block-dropdown a {
  border: 1px dashed transparent;
  color: var(--black);
  margin: 0;
}
.block-dropdown a:hover {
  border-color: var(--black);
}

.block-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.block-intro {
  margin: 0 auto;
  max-width: 700px;
}
.block-intro h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}
.block-intro h2:first-of-type {
  margin-bottom: 20px;
}
.block-intro h2:last-of-type {
  margin-bottom: 40px;
}
.block-intro button {
  padding-left: 40px;
  padding-right: 40px;
}
.block-intro .icon {
  width: 90px;
}

.block-info {
  display: flex;
  flex-flow: column;
  border-style: solid;
  border-width: 2px;
  max-width: 300px;
}
.block-info h2:last-of-type {
  margin-top: 40px;
  max-height: 150px;
}
.block-info .button-transparent {
  margin-bottom: 20px;
}
.block-info .button-transparent:first-of-type {
  margin-right: 10px;
}
.block-info .button-transparent:first-of-type .icon {
  transform: rotate(0);
}
.block-info .button-transparent:last-of-type .icon {
  transform: rotate(180deg);
}

.block-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.block-nav .button-transparent .icon {
  width: 5px;
  height: 5px;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  display: block;
}
.block-nav .button-transparent .icon-large {
  width: 15px;
  height: 15px;
}
.block-nav .block-wrapper .button-transparent .icon {
  border-radius: 5px;
}

.block-emoji {
  display: flex;
  position: absolute;
  border-radius: 20px;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  flex-direction: row;
}
.block-emoji button {
  margin: 0 0 0 20px;
}
.block-emoji button:first-of-type {
  margin: 0;
}

.block-form .block-wrapper-form {
  display: flex;
  flex-flow: column;
}

.block-label {
  position: relative;
  margin-bottom: 40px;
  z-index: 2;
}
.block-label:last-of-type {
  margin-bottom: 0;
}
.block-label label {
  position: absolute;
  top: -20px;
  left: 10px;
  display: block;
  border-radius: 15px;
  padding: 5px 10px;
}
.block-label select {
  display: none;
}
.block-label input,
.block-label .block-selected {
  width: calc(100% - 39px);
  height: 30px;
  padding: 20px 17.5px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  outline: none;
  display: block;
}

.block-label-expanded {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
}
.block-label-expanded .block-wrapper {
  display: none;
  position: absolute;
  margin: auto 0;
}
.block-label-expanded .block-wrapper .text-thin-small {
  position: relative;
  display: inline;
  border-radius: 15px;
  padding: 7px 10px 0px 10px;
  margin-left: 10px;
  background-color: var(--black);
  z-index: 2;
}
.block-label-expanded .block-wrapper .block-dropdown {
  overflow: hidden;
  position: absolute;
  transform: translate(0);
  border-radius: 15px;
}

.block-values-expand {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;
}
.block-values-expand .block-wrapper {
  border-radius: 50%;
  border: 2px solid var(--black);
  background-color: var(--white);
  position: absolute;
  overflow: visible;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.block-values-expand .block-wrapper .canvas-values {
  position: absolute;
  margin: auto;
  inset: 0 0 0 0;
}
.block-values-expand .block-wrapper .text-title {
  text-align: start;
  margin-bottom: 0;
}
.block-values-expand .block-wrapper .text-big-subtitle {
  margin-top: 0;
  z-index: 2;
}
.block-values-expand .block-wrapper .block-wrapper-button {
  margin-bottom: 20px;
}
.block-values-expand .block-wrapper .block-wrapper-button .button-white:first-of-type {
  margin-right: 20px;
}
.block-values-expand .block-wrapper .block-wrapper-button .button-white:first-of-type .icon {
  transform: rotate(0deg);
}

.block-project--show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}
.block-project-expanded--enter {
  display: block;
  background-color: transparent;
}
.block-project-expanded--enter .text-normal {
  display: block;
  max-height: 0px;
  opacity: 0;
}
.block-project-expanded--enter .button-white :first-child {
  opacity: 0;
  width: 0;
}
.block-project-expanded--enter .button-white :last-child {
  opacity: 1;
  width: 87px;
}
.block-project-expanded--enter .block-wrapper {
  margin: 0;
}
.block-project-expanded--show {
  overflow: auto;
  background-color: var(--white);
}
.block-project-expanded--show .icon {
  display: table;
  margin: 40px 0;
}
.block-project-expanded--show .text-normal {
  margin: 20px 0 40px 0;
  max-height: 500px;
  opacity: 1;
}
.block-project-expanded--show .button-white {
  margin-bottom: 0px;
}
.block-project-expanded--show .button-white :first-child {
  opacity: 1;
  width: 59px;
}
.block-project-expanded--show .button-white :last-child {
  opacity: 0;
  width: 0;
}
.block-project-expanded--show .button-white .icon {
  transform: rotate(0deg);
  margin-left: 0;
  stroke: none;
}
.block-project-expanded--show .block-wrapper {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: auto !important;
  height: 100vh !important;
}

.block-about h1, .block-about p, .block-about .block-values {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s;
}
.block-about--show h1, .block-about--show p, .block-about--show .block-values {
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.5s;
}

.block-values-expand--enter {
  display: block;
  background-color: transparent;
  transition: background-color 0.4s 0.2s;
}
.block-values-expand--enter .block-wrapper {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: width 0.4s 0.2s, height 0.4s 0.2s, left 0.4s 0.2s, top 0.4s 0.2s, bottom 0.4s 0.2s, margin 0.4s 0.2s, padding 0.4s 0.2s, border-radius 0.4s 0.6s;
}
.block-values-expand--enter .block-wrapper .canvas-values,
.block-values-expand--enter .block-wrapper .block-wrapper-content {
  opacity: 0;
  transition: opacity 0.2s;
}
.block-values-expand--show {
  background-color: var(--white);
  transition: background-color 0.4s 0.4s;
}
.block-values-expand--show .block-wrapper {
  bottom: 0;
  top: 0 !important;
  left: 0 !important;
  border-radius: 0;
  transition: width 0.4s 0.4s, height 0.4s 0.4s, padding 0.4s 0.4s, left 0.4s 0.4s, top 0.4s 0.4s, bottom 0.4s 0.4s, margin 0.4s 0.4s, border-radius 0.4s;
}
.block-values-expand--show .block-wrapper .block-wrapper-content {
  opacity: 1;
  transition: opacity 0.4s 0.8s;
}
.block-values-expand--show .block-wrapper .canvas-values {
  opacity: 1;
  transition: opacity 0.4s 1s;
}

.block-dropdown {
  opacity: 0;
  max-height: 0px;
  transform: translateX(-50%) translateY(-10%);
  transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.block-dropdown a {
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.block-dropdown--show {
  opacity: 1;
  max-height: 300px;
  transform: translateX(-50%) translateY(0);
  transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.block-dropdown--show a {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.block-intro h1, .block-intro h2:first-of-type, .block-intro h2:last-of-type,
.block-intro button:first-of-type, .block-intro button:last-of-type {
  opacity: 0;
  transform: translateX(-10%);
}
.block-intro--enter h1, .block-intro--enter h2:first-of-type, .block-intro--enter h2:last-of-type,
.block-intro--enter button:first-of-type, .block-intro--enter button:last-of-type, .block-intro--enter .icon {
  opacity: 1;
  transform: translateX(0%);
}

.block-info {
  border-color: transparent;
}
.block-info h1, .block-info h2:first-of-type, .block-info h2:last-of-type,
.block-info button:first-of-type, .block-info button:last-of-type {
  opacity: 0;
  transform: translateX(-10%);
}
.block-info--enter h1, .block-info--enter h2:first-of-type, .block-info--enter h2:last-of-type,
.block-info--enter button:first-of-type, .block-info--enter button:last-of-type, .block-info--enter .icon {
  opacity: 1;
  transform: translateX(0%);
}
.block-info--trans-enter h1, .block-info--trans-enter h2:first-of-type, .block-info--trans-enter h2:last-of-type {
  opacity: 0.5;
  max-height: 80px;
  transition: all 0.25s;
}
.block-info--trans-exit h1, .block-info--trans-exit h2:first-of-type, .block-info--trans-exit h2:last-of-type {
  opacity: 1;
  max-height: 200px;
  transition: all 0.25s;
}

.block-form .block-wrapper-form .block-label:nth-child(1) {
  transition: all 0.5s 0.1s;
}
.block-form .block-wrapper-form .block-label:nth-child(2) {
  transition: all 0.5s 0.2s;
}
.block-form .block-wrapper-form .block-label:nth-child(3) {
  transition: all 0.5s 0.3s;
}
.block-form .block-wrapper-form .block-label:nth-child(1), .block-form .block-wrapper-form .block-label:nth-child(2), .block-form .block-wrapper-form .block-label:nth-child(3) {
  opacity: 0;
  transform: translateY(-10%);
}
.block-form--enter .block-wrapper-form .block-label:nth-child(1) {
  transition: all 0.5s 0.6s;
}
.block-form--enter .block-wrapper-form .block-label:nth-child(2) {
  transition: all 0.5s 0.7s;
}
.block-form--enter .block-wrapper-form .block-label:nth-child(3) {
  transition: all 0.5s 0.8s;
}
.block-form--enter .block-wrapper-form .block-label:nth-child(1), .block-form--enter .block-wrapper-form .block-label:nth-child(2), .block-form--enter .block-wrapper-form .block-label:nth-child(3) {
  opacity: 1;
  transform: translateY(0%);
}
.block-form--trans-enter .block-wrapper-form .block-label:nth-child(1) {
  transition: opacity 0.25s 0.2s;
}
.block-form--trans-enter .block-wrapper-form .block-label:nth-child(2) {
  transition: opacity 0.25s 0.1s;
}
.block-form--trans-enter .block-wrapper-form .block-label:nth-child(3) {
  transition: opacity 0.25s 0s;
}
.block-form--trans-enter .block-wrapper-form .block-label:nth-child(1), .block-form--trans-enter .block-wrapper-form .block-label:nth-child(2), .block-form--trans-enter .block-wrapper-form .block-label:nth-child(3) {
  opacity: 0.5;
}
.block-form--trans-exit .block-wrapper-form .block-label:nth-child(1) {
  transition: opacity 0.25s 0s;
}
.block-form--trans-exit .block-wrapper-form .block-label:nth-child(2) {
  transition: opacity 0.25s 0.1s;
}
.block-form--trans-exit .block-wrapper-form .block-label:nth-child(3) {
  transition: opacity 0.25s 0.2s;
}
.block-form--trans-exit .block-wrapper-form .block-label:nth-child(1), .block-form--trans-exit .block-wrapper-form .block-label:nth-child(2), .block-form--trans-exit .block-wrapper-form .block-label:nth-child(3) {
  opacity: 1;
}

.block-label-expanded--enter {
  background-color: transparent;
  transition: background-color 0.3s 0.5s;
}
.block-label-expanded--enter .block-wrapper {
  display: block;
  transition: top 0.5s, height 0.5s, opacity 0.5s;
}
.block-label-expanded--enter .block-wrapper .block-dropdown {
  max-height: 30px;
  transition: max-height 0.5s;
}
.block-label-expanded--enter .block-wrapper .block-dropdown button {
  opacity: 0;
  transition: opacity 0.5s;
}
.block-label-expanded--enter .block-wrapper .block-dropdown button:hover {
  opacity: 0;
  transition: opacity 0.5s;
}
.block-label-expanded--show {
  background-color: var(--black);
  transition: background-color 0.3s;
}
.block-label-expanded--show .block-wrapper {
  top: 20% !important;
  transition: top 0.5s 0.3s, height 0.5s 0.3s, opacity 0.5s 0.3s;
}
.block-label-expanded--show .block-wrapper .block-dropdown {
  max-height: 350px;
  transition: max-height 0.5s 0.3s;
}
.block-label-expanded--show .block-wrapper .block-dropdown button {
  opacity: 1;
  transition: opacity 0.5s 0.8s;
}
.block-label-expanded--show .block-wrapper .block-dropdown button:hover {
  opacity: 1;
  transition: opacity 0.5s 0.8s;
}

.block-info,
.block-info--enter {
  transition: border-color 0.5s;
}
.block-info button:first-of-type,
.block-info--enter button:first-of-type {
  transition: all 0.5s 0.1s;
}
.block-info button:last-of-type,
.block-info--enter button:last-of-type {
  transition: all 0.5s 0.2s;
}
.block-info h2:first-of-type,
.block-info--enter h2:first-of-type {
  transition: all 0.5s 0.3s;
}
.block-info h1,
.block-info--enter h1 {
  transition: all 0.5s 0.4s;
}
.block-info h2:last-of-type,
.block-info--enter h2:last-of-type {
  transition: all 0.5s 0.5s;
}

.block-intro .icon,
.block-intro--enter .icon {
  transition: all 0.5s 0s;
}
.block-intro h1,
.block-intro--enter h1 {
  transition: all 0.5s 0.1s;
}
.block-intro h2:first-of-type,
.block-intro--enter h2:first-of-type {
  transition: all 0.5s 0.2s;
}
.block-intro h2:last-of-type,
.block-intro--enter h2:last-of-type {
  transition: all 0.5s 0.3s;
}
.block-intro button:first-of-type,
.block-intro--enter button:first-of-type {
  transition: all 0.5s 0.4s;
}
.block-intro button:last-of-type,
.block-intro--enter button:last-of-type {
  transition: all 0.5s 0.5s;
}

.block-about h1,
.block-about--show h1 {
  transition-delay: 400ms;
}
.block-about p,
.block-about--show p {
  transition-delay: 500ms;
}
.block-about .block-values,
.block-about--show .block-values {
  transition-delay: 300ms;
}

.block-dropdown--none,
.block-nav--none,
.block-emoji--none,
.block-form .block-wrapper-form--none,
.block-label-expanded--none {
  display: none;
}
.block-dropdown--none a,
.block-nav--none a,
.block-emoji--none a,
.block-form .block-wrapper-form--none a,
.block-label-expanded--none a {
  display: none;
}

.block-intro--show h1, .block-intro--show h2:first-of-type, .block-intro--show h2:last-of-type,
.block-intro--show button:first-of-type, .block-intro--show button:last-of-type,
.block-intro--show .icon, .block-intro--show .block-form:nth-child(n),
.block-info--show h1,
.block-info--show h2:first-of-type,
.block-info--show h2:last-of-type,
.block-info--show button:first-of-type,
.block-info--show button:last-of-type,
.block-info--show .icon,
.block-info--show .block-form:nth-child(n),
.block-form--show .block-wrapper-form h1,
.block-form--show .block-wrapper-form h2:first-of-type,
.block-form--show .block-wrapper-form h2:last-of-type,
.block-form--show .block-wrapper-form button:first-of-type,
.block-form--show .block-wrapper-form button:last-of-type,
.block-form--show .block-wrapper-form .icon,
.block-form--show .block-wrapper-form .block-form:nth-child(n) {
  transition-delay: 0ms;
}

@media (min-width: 0px) {
  .canvas-globe {
    position: relative;
    height: 400px;
    z-index: 4;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .canvas-globe--show {
    opacity: 1;
    transition: opacity 0.5s;
  }
  .block-project {
    padding: 40px 20px;
  }
  .block-intro {
    padding: 40px 20px;
  }
  .block-intro button:last-of-type {
    display: block;
    margin-top: 20px;
  }
  .block-intro .text-normal {
    font-size: 20px;
  }
  .block-info {
    padding: 20px;
  }
  .block-nav {
    bottom: 0;
    left: 0;
    right: 0;
    flex-flow: row-reverse;
    padding: 20px;
    border-top: 2px solid;
  }
  .block-nav .block-emoji {
    bottom: 120px;
    right: 20px;
  }
  .block-nav .button-transparent {
    margin: 0 10px;
  }
  .block-form .block-wrapper-form {
    margin-bottom: 200px;
    width: 100%;
  }
  .block-label-expanded {
    z-index: 4;
    left: 0;
    right: 0;
    width: 100%;
  }
  .block-label-expanded .block-wrapper {
    padding: 20px;
  }
  .block-label-expanded .block-wrapper .block-dropdown {
    top: 35px;
    width: calc(100% - 40px - 40px - 5px);
  }
  .block-project-expanded--enter {
    transition: background-color 0.6s 0.1s;
  }
  .block-project-expanded--enter .icon {
    transition: margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--enter .text-normal {
    transition: margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), opacity 0.6s, max-height 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--enter .button-white {
    transition: margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--enter .button-white :first-child {
    transition: opacity 0.6s, width 0.6s;
  }
  .block-project-expanded--enter .button-white :last-child {
    transition: width 0.6s;
  }
  .block-project-expanded--enter .block-wrapper {
    padding: 40px 20px;
    transition: padding 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), width 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), height 0.5s 0.1s cubic-bezier(0.6, 0.01, 0.55, 0.95), top 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), left 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), bottom 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), right 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95), margin 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show {
    transition: background-color 0.1s;
  }
  .block-project-expanded--show .icon {
    transition: margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show .text-normal {
    transition: margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), opacity 0.6s 0.1s, max-height 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show .button-white {
    transition: margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show .button-white :first-child {
    transition: opacity 0.6s 0.1s, width 0.6s 0.1s;
  }
  .block-project-expanded--show .button-white :last-child {
    transition: opacity 0.6s 0.1s, width 0.6s 0.1s;
  }
  .block-project-expanded--show .block-wrapper {
    padding: 20px;
    width: calc(100% - 40px) !important;
    transition: padding 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), width 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), height 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), top 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), left 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), bottom 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), right 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95), margin 0.6s 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-values-expand--show .block-wrapper {
    padding: 20px 20px 80px 20px;
    width: calc(100% - 40px - 4px);
    height: calc(100% - 100px - 4px);
  }
}
@media (min-width: 725px) {
  .canvas-globe {
    position: absolute;
    width: 750px;
    height: 750px;
    left: calc(50vw - 375px);
    z-index: 5;
    display: none;
  }
  .canvas-globe--show {
    opacity: 1;
    top: 320px;
    transform: scale(1);
  }
  .block-project {
    padding: 40px;
  }
  .block-intro {
    padding: 40px;
  }
  .block-intro button:last-of-type {
    display: inline;
    margin-left: 20px;
    margin-top: 0;
  }
  .block-intro .text-thin-small {
    font-size: 35px;
  }
  .block-intro .text-normal {
    font-size: 25px;
  }
  .block-info {
    margin: auto 0;
    padding: 60px;
  }
  .block-nav {
    top: 0;
    bottom: 0;
    left: auto;
    right: 80px;
    padding: 0;
    border-top: none;
    flex-flow: column;
  }
  .block-nav .block-emoji {
    right: 80px;
    bottom: auto;
    top: calc(50% - 174px);
  }
  .block-nav .block-wrapper .button-transparent {
    margin-bottom: 50px;
  }
  .block-nav .button-transparent {
    margin: 10px 0;
  }
  .block-form .block-wrapper-form {
    margin: auto 0;
    padding: 40px 60px;
    min-width: 250px;
    width: 300px;
  }
  .block-label-expanded {
    z-index: 3;
    left: auto;
    right: auto;
    width: calc(50% - 6px);
  }
  .block-label-expanded .block-wrapper {
    padding: 40px 60px;
  }
  .block-label-expanded .block-wrapper .block-dropdown {
    top: 55.5px;
    width: calc(100% - 120px - 40px - 5px);
  }
  .block-project-expanded--enter {
    transition: background-color 0.8s;
  }
  .block-project-expanded--enter .icon {
    transition: margin 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--enter .text-normal {
    transition: margin 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95), opacity 0.5s, max-height 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--enter .button-white {
    transition: margin 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--enter .button-white :first-child {
    transition: opacity 0.5s, width 0.5s;
  }
  .block-project-expanded--enter .button-white :last-child {
    transition: opacity 0.5s, width 0.5s;
  }
  .block-project-expanded--enter .block-wrapper {
    padding: 40px;
    transition: padding 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), width 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), height 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), top 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), left 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), bottom 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), right 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), margin 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show {
    transition: background-color 0.2s;
  }
  .block-project-expanded--show .icon {
    transition: margin 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show .text-normal {
    transition: margin 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), opacity 0.5s 0.2s, max-height 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show .button-white {
    transition: margin 0.5s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-project-expanded--show .button-white :first-child {
    transition: opacity 0.5s 0.2s, width 0.5s 0.2s;
  }
  .block-project-expanded--show .button-white :last-child {
    transition: opacity 0.5s 0.2s, width 0.5s 0.2s;
  }
  .block-project-expanded--show .block-wrapper {
    padding: 80px 20%;
    width: 60% !important;
    transition: padding 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), width 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95), height 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), top 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), left 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), bottom 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), right 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), margin 0.8s 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .block-values-expand--show .block-wrapper {
    padding: 40px 80px;
    width: calc(100% - 160px - 4px);
    height: calc(100% - 80px - 4px);
  }
}/*# sourceMappingURL=blocks.css.map */