nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
nav .block-wrapper {
  margin-left: auto;
}

footer {
  background-color: var(--black);
  text-align: center;
  padding: 40px;
  margin-top: 100px;
}
footer .button-link {
  margin: 0 10px;
}
footer .text-thin-small {
  margin-top: 40px;
  opacity: 0;
  transition: opacity 0.5s;
}
footer .text-thin-small--show {
  opacity: 1;
  transition: opacity 0.5s;
}

#intro .text-big-title {
  text-align: center;
}

#about p {
  margin-bottom: 40px;
}
#about .image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--black);
  background-color: var(--white);
}
#about .text-big {
  text-align: center;
}
#about .wrapper {
  margin: 0 auto;
}

#discover {
  height: 550px;
}
#discover .svg-recife {
  position: absolute;
  stroke: var(--white);
  opacity: 0;
  transition: opacity 1s;
}
#discover .svg-recife--show {
  opacity: 0.6;
  transition: opacity 1s;
}
#discover .text-title {
  color: var(--white);
}
#discover .text-big-subtitle {
  position: absolute;
  bottom: 100px;
}

#world {
  text-align: center;
}
#world .button-black {
  opacity: 0;
  margin-top: 40px;
  margin-left: 0;
  transition: opacity 1s;
}
#world .button-black--show {
  opacity: 1;
  transform: rotate(0deg) scale(1);
  transition: all 1s;
}
#world .button-black--show:hover {
  transform: rotate(-10deg) scale(1.5);
  transition: all 1s;
}
#world .button-black:hover .icon {
  fill: var(--black);
  transition: fill 0.5s;
}

.block-project {
  background-color: transparent;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s;
}
.block-project .text-normal {
  display: none;
}
.block-project .button-white {
  margin-top: 20px;
  padding: 10px 40px;
  border: 2px dashed var(--black);
}
.block-project .icon {
  overflow: auto;
  z-index: -1;
  stroke: var(--black);
  stroke-width: 15px;
  margin-bottom: 10px;
  width: 145px;
}
.block-project--show {
  opacity: 1;
  transform: translateY(0);
  background-color: transparent;
  transition: opacity 0.5s, transform 0.5s, background-color 0.5s;
}
.block-project--expanded {
  overflow: auto;
  opacity: 1;
  justify-content: flex-start;
  transform: translateY(0);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  margin: 0 auto;
  background-color: var(--white);
  transition: background-color 0.5s, opacity 0.5s;
}
.block-project--expanded .icon {
  display: table;
  margin: 40px 0;
}
.block-project--expanded .text-normal {
  margin: 20px 0 40px 0;
  display: block;
}
.block-project--expanded .button-white {
  border: 2px solid var(--black);
  border-style: dashed;
  margin-bottom: 0px;
}
.block-project--expanded .button-white .icon {
  transform: rotate(0deg);
  margin-left: 0;
  stroke: none;
}

.block-about h1, .block-about p, .block-about .image {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s;
}
.block-about h1 {
  transition-delay: 400ms;
}
.block-about p {
  transition-delay: 500ms;
}
.block-about .image {
  transition-delay: 300ms;
}
.block-about--show h1, .block-about--show p, .block-about--show .image {
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.5s;
}
.block-about--show h1 {
  transition-delay: 400ms;
}
.block-about--show p {
  transition-delay: 500ms;
}
.block-about--show .image {
  transition-delay: 300ms;
}

.block-dropdown {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
  opacity: 0;
  height: 0px;
  transform: translateX(-50%) translateY(-10%);
  transition: all 0.5s;
}
.block-dropdown a {
  border: 1px dashed transparent;
  margin: 0;
  opacity: 0;
  transition: all 0.5s;
}
.block-dropdown a:hover {
  border-color: var(--black);
}
.block-dropdown--none {
  display: none;
}
.block-dropdown--none a {
  display: none;
}
.block-dropdown--show {
  opacity: 1;
  height: 250px;
  transform: translateX(-50%) translateY(0);
  transition: all 0.5s;
}
.block-dropdown--show a {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}

.block-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.block-black {
  background-color: var(--black);
}
.block-black p, .block-black h1, .block-black h2 {
  color: var(--white);
}
.block-black p::-moz-selection, .block-black h1::-moz-selection, .block-black h2::-moz-selection {
  color: var(--black);
}
.block-black p::selection, .block-black h1::selection, .block-black h2::selection {
  color: var(--black);
}
.block-black a {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  transition: all 0.5s;
}
.block-black a .icon {
  fill: var(--white);
  transition: fill 0.5s;
}
.block-black a:hover {
  background-color: var(--black);
  border-color: var(--blue);
  transition: all 0.5s;
}
.block-black a:hover h2 {
  color: var(--blue);
  transition: color 0.5s;
}
.block-black .button-black:hover {
  background-color: var(--black);
  color: var(--blue);
  border-color: var(--blue);
  transition: all 0.5s;
}
.block-black .button-black:hover .icon {
  fill: var(--blue);
  transition: fill 0.5s;
}

.block-white .button-black:hover {
  background-color: var(--blue);
  color: var(--black);
  border-color: var(--black);
  transition: all 0.5s;
}
.block-white .button-black:hover .icon {
  fill: var(--black);
  transition: fill 0.5s;
}

.block-blue {
  background-color: var(--transparent-blue);
}

@media (min-width: 0px) {
  section {
    padding: 20px 20px 40px 20px;
    overflow: hidden;
    position: relative;
  }
  #intro {
    padding: 80px 20px 40px 20px;
  }
  #about .text-big {
    margin: 10px 0 40px 0;
  }
  #discover .svg-recife {
    height: 1000px;
    top: -100px;
    left: -455px;
    transform: rotateZ(-10deg) rotateX(60deg) scale(1.25);
    stroke-width: 3px;
  }
  #discover .text-big-subtitle {
    font-size: 50px;
    right: 40px;
  }
  #projects {
    padding: 20px 0 40px 0;
    overflow: unset;
  }
  #projects .text-title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .block-project {
    padding: 40px 20px;
  }
  .block-project--expanded {
    width: calc(100% - 40px);
    padding: 20px;
  }
}
@media (min-width: 725px) {
  section {
    padding: 40px 80px;
  }
  #intro {
    padding: 80px 0px;
  }
  #about .text-big {
    margin: 20px 0 80px 0;
  }
  #discover .svg-recife {
    height: 1500px;
    top: -500px;
    left: -30vw;
    stroke-width: 4px;
  }
  #discover .text-big-subtitle {
    font-size: 120px;
    right: 160px;
  }
  #projects {
    padding: 40px 80px;
  }
  #projects .text-title {
    padding-left: 0px;
    padding-right: 0px;
  }
  .block-intro {
    margin: 0 auto;
    width: -moz-min-content;
    width: min-content;
  }
  .block-project {
    padding: 40px;
  }
  .block-project--expanded {
    width: 60%;
    padding: 80px 20%;
  }
}/*# sourceMappingURL=blocks.css.map */