nav{
  display: flex;
  flex-direction: row;

  .block-wrapper{
    margin-left: auto;
  }
}

.block-dropdown{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: var(--white);
  border: 3px solid var(--black);
  border-radius: 20px;
  padding: 20px;

  opacity: 0;
  height: 0px;
  transform: translateX(-50%) translateY(-20%);
  transition: all 1s;

  .button-white{
    margin: 0;
  }
  .button-link{
    opacity: 0;
    transform: translateY(-5%);
    transition: all 1s;  
  }
  &--none{
    display: none;
  }
  &--show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    height: 203px;
    transition: all 1s;

    .button-link{
      opacity: 1;
      transform: translateY(0);
      transition: all 1s;
    }
  }
}
.block-project{
  box-shadow: 0px 0px var(--white);
  transition: all 1s;

  &:hover{
    box-shadow: 12px 12px var(--blue);
    transition: all 1s;
  }
}
.block-horizontal{
  display: flex;

  .block-wrapper{
    opacity: 0;
    transform: translateX(20%);
    transition: all 1s;
    &--show{
      opacity: 1;
      transform: translateX(0);
      transition: all 1s;
    }
  }
}
.block-info{
  margin: 40px 0;
  padding: 0 20px;

}
.block-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.block-project,
.block-about-image{
  border: 3px solid var(--black);
}
.block-info,
.block-project{
  opacity: 0;
  transform: translateX(20%);
  transition: all 1s;
  
  &--show{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s;
  }
}

@media (min-width: 0px) {
  nav .block-wrapper .button-white{
    display: none;
  }

  .block-horizontal{
    flex-direction: column;

    .block-wrapper :first-of-type{
      margin-bottom: 40px;
    }
  }
  .block-grid{
    gap: 40px 0;
  }
  .block-discover{
    height: 500px;

    .block-info{
      position: absolute;
    }
    &:first-of-type .block-info{
      left: 40vw;
      top: 30%;
    }
    &:last-of-type .block-info{
      bottom: 25%;
      left: 10vw;

      transform: translateX(-20%);
      transition: all 1s;

      &--show{
        transform: translateX(0);
        transition: all 1s;
      }
    }
  }
  .block-project{
    &-image{
      height: 130px;
      text-align: center;
      overflow: hidden;
    }
    .block-wrapper{
      padding: 20px;
    }
  }
  .block-about-image{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
}

@media (min-width: 725px) {
  nav .block-wrapper .button-white{
    display: inline;
  }

  .block-horizontal{
    flex-direction: row;
    
    .block-wrapper:first-of-type{
      margin-bottom: 0;
      margin-right: 80px;
    }
  } 
  .block-grid{
    gap: 60px;
  }
  .block-discover{
    height: 600px;

    .block-info{
      position: absolute;
    }
    &:first-of-type .block-info{
      left: 40vw;
      top: 30%;
    }
    &:last-of-type .block-info{
      bottom: 25%;
      left: 10vw;
    }
  }
  .block-project{
    .block-wrapper{
      padding: 40px;
    }
  }
  .block-about-image{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  } 
}