#atlas .title-big{
  text-align: center;
}

@media (min-width: 0px) {
  #atlas .wrapper-video{
    height: 400px;
    width: 100%;
    text-align: center;
  }

  #atlas video{
    width: 100%;
    max-width: 340px;
    margin: 30px auto;
  }
}

@media (min-width: 725px){
  #atlas .wrapper{
    margin: 0 auto;
    width: min-content;
  }

  #atlas .wrapper-video{
    margin-top: -37px;
  }

  #atlas .title-big{
    position: relative;
    z-index: 2;
  }
} 