#atlas2{
  z-index: 2;
}

#atlas2 .title-big{
  margin: 0; 
}
#atlas2 .title-big:last-of-type{
  margin-bottom: 20px;
}
#atlas2 .subtitle-big{
  width: 50%;
  word-break: break-all; 
}
#atlas2 .svg-arrow{
  transform: rotate(0deg);
}
#atlas2 .button-black, 
#atlas2 .button-white{
  padding-right: 40px;
  padding-left: 40px;
  width: fit-content;
}

.atlas2 {
  opacity: 0;
  transition: opacity 0.3s 1.2s;
}
.atlas2 h1:first-of-type {
  transition: all 0.5s 0.7s;
}
.atlas2 h1:last-of-type {
  transition: all 0.5s 0.6s;
}
.atlas2 h2:first-of-type {
  transition: all 0.5s 0.5s;
}
.atlas2 h2:last-of-type {
  transition: all 0.5s 0.4s;
}
.atlas2 button:first-of-type {
  transition: all 0.5s 0.3s;
}
.atlas2 a {
  transition: all 0.5s 0.2s;
}
.atlas2 .svg-column-first {
  opacity: 0;
  transform: translateY(30%);
  transition: all 0.5s 0.1s;
}
.atlas2 .svg-column-second {
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s 0s;
}
.atlas2 h1:first-of-type, .atlas2 h1:last-of-type,
.atlas2 h2:first-of-type, .atlas2 h2:last-of-type,
.atlas2 button:first-of-type, .atlas2 a {
  opacity: 0;
  transform: translateX(-10px);
}
.atlas2--none {
  display: none;
}
.atlas2--enter {
  opacity: 1;
  transition: opacity 0.3s;
}
.atlas2--enter h1:first-of-type {
  transition: all 0.5s 0.3s;
}
.atlas2--enter h1:last-of-type {
  transition: all 0.5s 0.4s;
}
.atlas2--enter h2:first-of-type {
  transition: all 0.5s 0.5s;
}
.atlas2--enter h2:last-of-type {
  transition: all 0.5s 0.6s;
}
.atlas2--enter button:first-of-type {
  transition: all 0.5s 0.7s;
}
.atlas2--enter a {
  transition: all 0.5s 0.8s;
}
.atlas2--enter .svg-column-first {
  transition: all 0.5s 0.9s;
}
.atlas2--enter .svg-column-second {
  transition: all 0.5s 1s;
}
.atlas2--enter h1:first-of-type, 
.atlas2--enter h1:last-of-type,
.atlas2--enter h2:first-of-type, 
.atlas2--enter h2:last-of-type,
.atlas2--enter button:first-of-type, 
.atlas2--enter a,
.atlas2--enter .svg-column-first, 
.atlas2--enter .svg-column-second {
  opacity: 1;
  transform: translateX(0px);
}
.atlas2--show h1:first-of-type, 
.atlas2--show h1:last-of-type,
.atlas2--show h2:first-of-type, 
.atlas2--show h2:last-of-type,
.atlas2--show button:first-of-type, 
.atlas2--show a,
.atlas2--show .svg-column-first, 
.atlas2--show .svg-column-second {
  transition-delay: 0ms;
}

.svg-column-first {
  z-index: 3;
}

.svg-column-first,
.svg-column-second {
  position: absolute;
  stroke: var(--white);
}

@media (min-width: 0) {
  #atlas2{
    padding-top: 40px;
    padding-bottom: 100px;
    min-height: calc(100vh - 140px);
  }
  #atlas2 .button-white{
    margin-top: 40px;
  }
  #atlas2 .button-black{
    margin-top: 20px;
    display: block;
  }

  .svg-column-first {
    height: 500px;
    right: -40px;
    bottom: -100px;
  }
  .svg-column-second {
    display: none;
  }
}

@media (min-width: 725px){
  #atlas2{
    padding-top: 80px; 
    padding-bottom: 80px;
    min-height: calc(100vh - 160px);
  }
  #atlas2 .button-black{
    display: inline-block;
    margin-left: 20px;
  }
  #atlas2 .subtitle-big{
    display: inline;
  }
  #atlas2 .subtitle-big:first-of-type{
    margin-right: 20px;
  }

  .svg-column-first {
    height: 700px;
    right: 290px;
    bottom: -140px;
  }
  .svg-column-second {
    height: 500px;
    right: 200px;
    bottom: -120px;
    display: block;
  }
} 