@media (min-width: 0) {
  .canvas-globe{
    position: relative;
    height: 400px;
    z-index: 4;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;

    &--show{
      opacity: 1;
      transition: opacity 0.5s;
    }
  } 
}
@media (min-width: 725px) {
  .canvas-globe{
    position: absolute;
    width: 750px;
    height: 750px;
    left: calc(50vw - 375px);
    z-index: 5;
    
    // left: 0;
    // right: 0;
    

    display: none;
    // transform: translateY(-10%);
    // transition: opacity 0.5s, transform 0.5s;

    &--show{
      opacity: 1; 
      top: 320px;
      transform: scale(1);
      
      // animation: 4s 0.5s normal linear globe-in;
      // transform: translateY(0);
      // transition: opacity 0.5s, transform 0.5s;
    }
  }
}

@keyframes globe-in {
  0% {
    opacity: 0;
    top: -240px;
    transform: scale(0.2) translateX(0);
  }
  50%{
    // opacity: 0.5;
    // top: 40px;
    transform: scale(0.6) translateX(50%); 
  }
  100%{
    opacity: 1; 
    top: 320px;
    transform: scale(1) translateX(0);
  }
}